.btn {
  font-size: 1.4rem;
  font-weight: 600;

  background: linear-gradient(
    145deg,
    rgba(51, 211, 94, 1) 0%,
    rgba(42, 182, 217, 1) 100%
  );
  color: white;
  border: none;
  padding: 1.4rem 3.5rem;
  border-radius: 100px;
  cursor: pointer;
  opacity: 1;
  transition: all 0.3s ease;
  text-decoration: none;
  color: white;
  box-shadow: 0px 0px 0px 0px rgba(51, 211, 94, 1);
}

.btn:hover {
  opacity: 1;
  box-shadow: 0px 0px 0px 25px rgba(51, 211, 94, 0);
}
